#Python_Basics

#comaprision Operators

In [1]:
string ="Hello"

In [2]:
string.encode()

b'Hello'

In [3]:
new_string =string.encode()

In [4]:
type(new_string)

bytes

In [5]:
print(new_string)

b'Hello'

#Condition Operator

In [6]:
a=10

In [7]:
b=11

In [8]:
a==b

False

In [9]:
a!=b

True

In [10]:
a<b

True

In [12]:
a>=b

False

In [13]:
not a==b

True

#Chained Operator

In [14]:
c=10

In [15]:
a == b and b==c

False

In [16]:
a==c or b==c

True

In [17]:
a!=b and  b==c

False

In [18]:
a!=b or b==c

True

In [19]:
a!=b and b!=c

True

In [20]:
not a==b

True

3sTATEMENT

Statement

In [27]:
if a == b :
    print(a)
    else:
    print(b)

SyntaxError: invalid syntax (<ipython-input-27-738d212f8200>, line 3)

In [29]:
if a == b :
    print(a)
else:
    print(b)

11

In [34]:
number = 10
if number%2 == 0 :
    print("even")
else :    
    print("odd")

even

In [49]:
try:
    number = 60
    if number > 80 :
        print("First class")
    elif number > 35:    
        print("Second class")
    else :
        print("Fail")
except:
    print("Error your code")

Second class

# For Loop

In [51]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [52]:
for num in my_list:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [56]:
for num in my_list:
    if num%2 == 0:
         print("even",num)
    else:
         print("odd",num)

odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9
even 10

In [57]:
my_string ="rams"
for letter in my_string:
    print(letter)

r
a
m
s

In [58]:
t = (1,2,3,[3,4,5])
for tup in t:
    print(tup)

1
2
3
[3, 4, 5]

In [65]:
list_tup = [(1,2),("rams","vijay")]
for (t1,t2) in list_tup:
    print(t2)

2
vijay

In [68]:
d = {'k1':2,'k2':1,'k3':3}
for k,v in d.items():
    print(k,v)

k1 1
k2 2
k3 3

In [69]:
list(d.keys())

['k1', 'k2', 'k3']

In [70]:
list(d.values())

[1, 2, 3]

In [71]:
sorted(d.values())

[1, 2, 3]

In [76]:
i =0
primeNumbers = ""
 for num in 100:         
           counter=0 
             if num%2 ==0:
                counter = 2
                  else:
                counter = 0   
                 if counter ==2:
                primeNumbers = primeNumbers + i + " ";

IndentationError: unexpected indent (<ipython-input-76-70799a109b7d>, line 3)

In [189]:
sum=1
end =100
for i in range(1,end+1):
    if i>1:
             if i%2 == 0:
                break;
    else :
         print(i)

1

# While Loop

In [132]:
x=0
while x<5:
    print("x current value",x)
    x +=1
else:
    print("complete while loop")

x current value 0
x current value 1
x current value 2
x current value 3
x current value 4
complete while loop

In [172]:
list(range(1,15))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [179]:
my_list = list(range(15,1,-1))

In [180]:
min(my_list)

2

In [182]:
list(range(15,0,-1))

[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [188]:
input('Enter by myself')

Enter by myselframs

'rams'

In [190]:
if None:
    print("Hello")